.my-work {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  align-items: center;
  justify-content: center;
  margin: 5vw 10vw;
}

.mywork-title {
  position: relative;
}

.mywork-title h1 {
  padding: 0 2vw;
  font-size: 3vw;
  font-weight: 400;
}

.mywork-title img {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.mywork-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2vw;
}

.mywork-container img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  transition: 0.3s;
  cursor: pointer;
}

.mywork-container img:hover {
  transform: scale(1.1);
  border: 4px solid #ff00ff;
  border-radius: 10px;
  transition: 0.3s;
}

.mywork-showmore {
  display: flex;
  gap: 1.5vw;
  border-radius: 50px;
  padding: 2vw 4vw;
  font-size: 1.5vw;
  font-weight: 370;
  margin-bottom: 4vw;
  transition: 0.6s;
  cursor: pointer;
}

.mywork-showmore:hover {
  gap: 2vw;
  transition: 0.6s;
}

@media (max-width: 768px) {
  .my-work {
    gap: 5vw;
    margin: 5vw 7vw;
    align-items: start;
  }

  .mywork-title h1 {
    padding: 0;
    font-size: 8vw;
    font-weight: 600;
  }

  .mywork-title img {
    width: 20vw;
    margin-right: -5vw;
  }

  .mywork-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
  }

  .mywork-container img {
    width: 100%;
    height: 100%;
  }

  .mywork-showmore {
    padding: 3vw 6vw;
    font-size: 4vw;
    margin: 8vw auto;
    cursor: pointer;
  }
}
