.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  margin: 5vw 10vw;
}

.skills-title {
  position: relative;
}

.skills-title h1 {
  padding: 0 3vw;
  font-size: 3vw;
  font-weight: 400;
}

.skills-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.skills-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
  padding: 5vw;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  margin-bottom: 5vw;
}

.skills-format h3 {
  font-size: 1.5vw;
  font-weight: 400;
}

.skills-format h2 {
  font-size: 2vw;
  font-weight: 550;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skills-format p {
  color: #d4d4d4;
  font-size: 1.5vw;
  line-height: 2.5vw;
  max-width: 20vw;
}

.skills-readmore {
  display: flex;
  gap: 1.5vw;
  align-items: center;
  margin-top: 2vw;
}

.skills-format:hover {
  border: 2px solid #ff00ff;
  background-image: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .skills {
    align-items: start;
    gap: 7vw;
    margin: 2vw 7vw;
  }

  .skills-title h1 {
    padding: 0;
    font-size: 8vw;
  }

  .skills-title img {
    width: 15vw;
    margin-right: -5vw;
  }

  .skills-format {
    gap: 2vw;
    padding: 4vw;
  }

  .skills-format h2 {
    font-size: 6vw;
  }

  .skills-format p {
    font-size: 4vw;
    line-height: 5vw;
    max-width: 80vw;
  }

  .skills-readmore img {
    width: 5vw;
  }

  .skills-container {
    grid-template-columns: 1fr;
    gap: 5vw;
  }
}
