.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vw;
  margin: 5vw 10vw;
}

.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0 2vw;
  font-size: 4vw;
  font-weight: 450;
}

.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 15vw;
}

.contact-section {
  display: flex;
  gap: 5vw;
  flex-wrap: wrap;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.contact-left h1 {
  font-size: 4vw;
  font-weight: 550;
  background: linear-gradient(270deg, #da7c25 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  max-width: 55vw;
  color: #d8d8d8;
  font-size: 1.5vw;
  line-height: 2.2vw; /* Increased line height for better spacing */
  margin: 0; /* Reset margin */
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  color: #d8d8d8;
  font-size: 1.5vw;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.contact-right {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: start;
}

.contact-right label {
  color: #d8d8d8;
  font-size: 1.5vw;
  font-weight: 370;
}

.contact-right input {
  border: none;
  width: 40vw;
  height: 6vh;
  padding-left: 1.5vw;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 1.5vw;
}

.contact-right textarea {
  width: 40vw;
  height: 15vh;
  border: none;
  padding: 1.5vw;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 1.5vw;
}

.contact-submit {
  border: none;
  border-radius: 50px;
  color: white;
  background: linear-gradient(264deg, #fd8908 -5.09%, #b415ff 106.28%);
  font-size: 1.8vw;
  padding: 1.5vw 4vw;
  margin-bottom: 5vh;
  cursor: pointer;
  transition: 0.3s;
}

.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .contact {
    gap: 5vh;
    margin: 5vh 5vw;
    align-items: start;
  }

  .contact-title h1 {
    padding: 0;
    font-size: 6vw;
    font-weight: 600;
  }

  .contact-title img {
    width: 30vw;
    right: -5vw;
  }

  .contact-section {
    flex-direction: column;
  }

  .contact-left h1 {
    font-size: 7vw;
  }

  .contact-left p {
    font-size: 5vw;
    line-height: 6vw; /* Increased line height to prevent overlap */
    max-width: 90vw; /* Allow more room on small screens */
  }

  .contact-detail {
    gap: 5vw;
  }

  .contact-right label {
    font-size: 4vw;
  }

  .contact-right input,
  .contact-right textarea {
    width: 90vw;
    font-size: 4vw;
  }

  .contact-submit {
    font-size: 4vw;
    padding: 3vw 6vw;
  }
}
