.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10vw;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4vw;
  font-size: 1.5vw;
}

.nav-connect {
  padding: 1vw 2vw;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
  font-size: 1vw;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 5vw;
    justify-content: space-between;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }

  .nav-mob-close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    gap: 5vw;
    background-color: #1f0016;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
    right: -100%;
  }

  .nav-menu li {
    font-size: 8vw;
    flex-direction: row;
    gap: 2vw;
    padding-left: 0;
  }

  .nav-menu.open {
    right: 0;
  }
}

.navbar img {
  width: 20vw;
  border-radius: 25px;
}
