.footer {
  margin: 5vw 10vw;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3vw;
}

.footer-top-left p {
  font-size: 1.5vw;
  max-width: 40vw;
  margin: 0; /* Ensure there's no extra margin */
  line-height: 1.5; /* Improve readability */
}

.footer-top-right {
  display: flex;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
}

.footer-email-input {
  display: flex;
  gap: 2vw;
  padding: 1.5vw 2vw;
  border-radius: 50px;
  background: #32323b;
  padding-right: 4vw;
}

.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 1.5vw;
  width: 100%;
}

.footer-subscribe {
  font-size: 1.5vw;
  padding: 1.5vw 2.5vw;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  transition: 0.3s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1.5vw;
  flex-wrap: wrap;
}

.footer-bottom-right {
  display: flex;
  gap: 3vw;
  margin-bottom: 5vw;
  flex-wrap: wrap;
}

.footer-email-input:hover {
  border: 2px solid white;
}

.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media(max-width: 768px) {
  .footer {
    margin: 5vh 5vw;
  }

  .footer-top {
    flex-direction: column;
    gap: 5vh;
  }

  .footer-bottom {
    flex-direction: column-reverse;
  }

  .footer-top-left p {
    font-size: 4vw;
  }

  .footer-email-input {
    padding: 2vh 3vw;
    padding-right: 5vw;
  }

  .footer-email-input input {
    font-size: 4vw;
  }

  .footer-subscribe {
    font-size: 4vw;
    padding: 2.5vh 6vw;
  }

  .footer-bottom {
    font-size: 4vw;
  }

  .footer-bottom-right {
    gap: 5vw;
  }
}

.footer-top-left img {
  width: 15vw;
  height: auto;
  border: #a0a0a0;
  border-radius: 25px;
}
